<div ng-controller="MainCtrl as ctrl">
	<h1 ng-show="ctrl.tunes.length == 0">Nothing here yet</h1>
	<section ng-show="ctrl.tunes" ng-repeat="tune in ctrl.tunes">
		{{tune.artist}}
		{{tune.title}}
		<iframe class="video" width="560" height="315" ng-src="{{tune.link}}" frameborder="0" allowfullscreen></iframe>
	</section>
</div>