html {
	background-color: white;
	color: black;
	font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  box-sizing: border-box;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: rgba(0,0,0,0.8);
  font-size: 18px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

nav {
	padding-top: 1em;
	padding-bottom: 2em;
	background-color: #333 !important;
}

button {
	border: none;
	color: rgba(255,133,0,0.5) !important;
	background-color: #333 !important;
	font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  letter-spacing: -0.02em;
  font-weight: 400;
  padding-top: 1.10em;
  padding-right: 1em; 
  transition: color 0.75s;
}

button:hover {
	color: rgba(255,133,0,1) !important;
}

ul {
	background-color: #333 !important;
}

iframe {
	border: solid orange 1px;
	width: 280px;
	height: 160px;
}

info {
	width: 100%;
  position: relative !important;
  text-align: center !important;
  line-height: 1.2 !important;
  position: absolute;
  margin-bottom: 3em;
}

info:before {
  content: "";
  display: block;
  position: absolute;
  top: 17px;
  width: 100%;
  border-top: 1px solid rgba(0,0,0,0.15);
}

track {
	display: inline-block !important;
  border: 1px solid rgba(255,133,0,0.44) !important;
  background: #fff !important;
  text-transform: uppercase !important;
  font-size: 12px !important;
  padding: 3px 8px 2px 12px !important;
  letter-spacing: .3em !important;
  color: rgba(0,0,0,0.6) !important;
  position: relative !important;
  text-align: center !important;
}

blog {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%;
}

.header-center {
	border-bottom: 1px solid rgba(0,0,0,0.4) !important;
}

a:link, a:visited, a:active {
  color: rgba(255,133,0,0.5);
  text-decoration: none;
  transition: color 0.75s;
}

/* mouse over link */
a:hover {
  color: rgba(255,133,0,1) !important;
  text-decoration: none !important;
}

.logo {
	display: inline;
	margin-top: 1em;
	padding-top: 4em;
	text-align: center;
}

.header-center {
	text-align: center;
	padding-left: 6em;
}

.center-text {
	text-align: center;
}

.main-body {
	position: relative;
	top: 7em;
}

.block {
	display: block;
}

.tune-container {
	/*margin-bottom: 3em;*/
}

.tune {
	font-size: 24px;
}

.blog {
	font-size: 14px;
}

.border {
	border-color: black;
}

.form {
	text-align: center;
}


/* -----------------------RESPONSIVE DESIGN CHOICES -------------- /*

/* Large desktop */
@media (min-width: 1200px) {
	iframe {
		width: 560px;
		height: 315px;
	}
}

@media (min-width: 980px) and (max-width: 1199px) {
	iframe {
		width: 560px;
		height: 315px;
	}
}

 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	iframe {
		width: 560px;
		height: 315px;
	}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	iframe {
		width: 373px;
		height: 210px;
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {

}



