.logo {
	display: inline;
	margin-top: 1em;
	padding-top: 4em;
	text-align: center;
}

.header-center {
	text-align: center;
	padding-left: 6em;
}

.center-text {
	text-align: center;
}

.main-body {
	position: relative;
	top: 6em;
}

.block {
	display: block;
}

.tune-container {
	margin-bottom: 10em;
}

