/* ------ GENERAL STYLING ------ */

html {
  box-sizing: border-box;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: rgba(0,0,0,0.8);
  font-size: 18px;
  max-width: 1400px;
  margin: 0 auto;
  background-color: #f2f2f2 !important;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color: #f2f2f2 !important;
}

a:link, a:visited, a:active {
  color: rgba(255,133,0,0.5);
  text-decoration: none;
  transition: color 0.75s;
}

a:hover {
  color: rgba(255,133,0,1) !important;
  text-decoration: none !important;
}

.main-body {
	position: relative;
	top: 2em;
}

.main-body-genre {
	position: relative;
	top: 6em;
}

/* ------ NAV BAR STYLING ------ */

nav {
	height: 8%;
	background-color: #333 !important;
	opacity: 0.9;
	/*max-width: 1400px;*/
	margin: 0 auto;
}

button {
	border: none;
	color: rgba(255,133,0,0.5) !important;
	background-color: inherit;
	font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  letter-spacing: -0.02em;
  font-weight: 400;
  padding-top: 1.10em;
  padding-right: 1em; 
  transition: color 0.75s;
}

button:hover {
	color: rgba(255,133,0,1) !important;
}

ul {
	background-color: #333 !important;
}

.header-center {
	border-bottom: 1px solid rgba(255,133,0,1) !important;
	text-align: center;
	padding-left: 6em;
}

.logo {
	display: inline;
	text-align: center;
}

.dropdown-menu {
	margin-top: 2em !important;
}

/* <------ MAIN PAGE ------> */

midcol {
	text-align: center;
}

track.title {
	display: inline-block !important;
  border: 1px solid rgba(255,133,0,0.44) !important;
  background: #fff!important;
  text-transform: uppercase !important;
  font-size: 10px !important;
  padding: 3px 8px 2px 12px !important;
  letter-spacing: .3em !important;
  color: rgba(0,0,0,0.6) !important;
  position: relative !important;
  text-align: center !important;
}

divider {
  position: relative !important;
  text-align: center !important;
  line-height: 1.2 !important;
  position: absolute;
  margin-bottom: 2.5em;
}

divider:before {
  content: "";
  display: block;
  position: absolute;
  top: 14px;
  width: 100%;
  border-top: 1px solid rgba(0,0,0,0.15);
}

divider.heading {
	margin-left: 38%;
	width: 24%;
}

iframe {
	text-align: center;
	border: solid orange 1px;
	width: 280px;
	height: 160px;
}

blog {
	text-align: center;
}

iframe.smaller-video {
	text-align: center;
	float: left;
	width: 350px;
	height: 200px;
	margin-left: 3em;
	margin-bottom: .5em;
}

divider.full-width {
	width: 20%;
	margin-left: 40%;
}

divider.full-width:before {
	top: 10px;
}

.block {
	display: block;
}

.tune {
	font-size: 20px;
}

.main-blog {
	font-size: 12px;
	padding-top: 2%;
	margin-left: 25%;
	width: 50%;
	padding-left: 5%;
	padding-right: 5%;
}

.blog {
	font-size: 10px;
	padding-top: 2%;
	margin-bottom: 3em;
	padding-left: 10%;
	padding-right: 10%;
}

.border {
	border-color: black;
}

.form {
	text-align: center;
}

.nav-list {
	display: inline;
}

/* <------ RESPONSIVE DESIGN CHOICES ------> /*

/* Large desktop */
@media (min-width: 1200px) {
	iframe.smaller-video {
		display: block;
		width: 80%;
/*		margin-left: 5em;
		margin-right: 5em;*/
	}

	.small_tune {
		width: 33%;
	}

	blog {
		display: inline-block;
	}

	iframe.larger-video {
		width: 504px;
		height: 283px;
	}
}

@media (min-width: 980px) and (max-width: 1199px) {
	iframe.larger-video {
		width: 504px;
		height: 283px;
	}
}

 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	iframe.larger-video {
		width: 504px;
		height: 283px;
	}

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	iframe.larger-video {
		width: 504px;
		height: 283px;
	}

	.main-blog {
		padding-top: 2%;
		/*margin-left: 10%;*/
		width: 50%;
		padding-right: 0;
		padding-left: 0;
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	.main-blog {
		padding-top: 2%;
		margin-left: 10%;
		margin-right: 10%;
		width: 50%;
		padding-right: 0;
		padding-left: 0;
	}

}



