<container class="main-body">
  <h1 ng-show="tunes.length == 0">Nothing here yet</h1>
  <row ng-show="tunes" class="row border">
    <container class="container tune-container">
      <leftcol class="col-md-3"></leftcol>

      <midcol class="center-text block col-md-6">
        <section class="tune">
          <info class="block">
            <track ng-bind="mostRecentTune.artist + ' - ' + mostRecentTune.title">
            </track> 
          </info>
          <iframe class="video embed-reponsive-item larger-video" ng-src="{{mostRecentTune.link}}" allowfullscreen></iframe>
          <blog ng-bind="mostRecentTune.blog" class="center-text block blog"></blog>
        </section>
      </midcol>
 
      <rightcol class="col-md-3"></rightcol>
    </container>
  </row>

  <row ng-show"tunes" class="row border">
    <container ng-repeat"tune in otherTunes" class="container tune-container">
      <leftcol class="col-md-4">
          
      </leftcol>

      <midcol class="col-md-4">
        
      </midcol>

      <rightcol class="col-md-4">
        
      </rightcol>

    </container>
  </row>


  <section ng-controller="AddTunesCtrl as ctrl">
    <form name="tune"
          class="form">
    <input type="text"
           placeholder="Artist?"
           id="artist"
           ng-model="tune.artist"
           required>
    <input type="text"
           placeholder="Title?"
           id="title"
           ng-model="tune.title"
           required>
    <input type="text"
           placeholder="Blog?"
           id="blog"
           ng-model="tune.blog"
           required>
    <input type="text"
           placeholder="Link?"
           id="link"
           ng-model="tune.link"
           required>
    <input type="submit"
           id="submit_btn"
           value="Add"
           ng-click="ctrl.add()">
    </form>
  </section>

</container>
