<container class="main-body">
  <h1 ng-show="tunes.length == 0">Nothing here yet</h1>
  <row ng-show="tunes" class="row">
    <container class="container tune-container">

      <midcol class="center-text">
        <section class="tune">
          <info class="block">
            <track ng-bind="mostRecentTune.artist + ' - ' + mostRecentTune.title"></track>
          </info>
          <iframe class="larger-video" ng-src="{{mostRecentTune.link}}" allowfullscreen></iframe>
          <blog ng-bind="mostRecentTune.blog" class="center-text block main-blog"></blog>
        </section>
      </midcol>

    </container>
  </row>

  <row ng-show"tunes" class="row">
    <container ng-repeat="tune in tunes" class="col-md-4 center-text block">
      <iframe class="smaller-video" ng-src="{{tune.link}}" allowfullscreen></iframe>
      <blog ng-bind="tune.blog" class="center-text block blog"></blog>
    </container>
  </row>

  <section ng-controller="AddTunesCtrl as ctrl">
    <form name="tune"
          class="form">
    <input type="text"
           placeholder="Artist?"
           id="artist"
           ng-model="tune.artist"
           required>
    <input type="text"
           placeholder="Title?"
           id="title"
           ng-model="tune.title"
           required>
    <input type="text"
           placeholder="Blog?"
           id="blog"
           ng-model="tune.blog"
           required>
    <input type="text"
           placeholder="Link?"
           id="link"
           ng-model="tune.link"
           required>
    <input type="submit"
           id="submit_btn"
           value="Add"
           ng-click="ctrl.add()">
    </form>
  </section>

</container>
